$primary-dark: #0045a7;
$primary: #2384c8;
$primary-secondary: #60b4e5;
$primary-light: #e0f2fe;

$text-primary: #616161;
$text-secondary: #9e9e9e;
$text-disabled: #e0e0e0;

$accent-orange: #ff6430;
$accent-green: #97d9a2;

$color-success: #1cc44f;
$color-danger: #ff0e00;
$color-warning: #ffb300;
$color-info: #00a4ff;

$color-light: #fafafa;