.p-1{
    padding: $basePx;
}
.bg-primary {
    background-color: $primary;
}
.bg-primary-dark {
    background-color: $primary-dark;
}
.bg-primary-light {
    background-color: $primary-light;
}
.bg-primary-secondary {
    background-color: $primary-secondary;
}
.bg-light {
    background-color: $color-light;
}

.t-primary{
    color: $primary;
}
.t-main {
    color: $text-primary;
}
.t-white {
    color: #FFFFFF !important;
}
.bg-white {
    background-color: #FFFFFF;
}
.t-secondary {
    color: $text-secondary;
}
.bg-disabled {
    background-color: $text-disabled;
}
.t-disabled {
    color: $text-disabled;
}
.t-accent {
    color: $accent-orange;
}
.bg-accent {
    background-color: $accent-orange;
}


.elevate{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card {
    @extend .elevate;
    border-radius: $basePx/2;
    padding: $basePx;
    display: inline-flex;
}

hr {
    margin-top: $basePx;
    margin-bottom: $basePx;
    border: 0;
    border-top: 1px solid $text-disabled;
}
.rotate-90 {
    transform: rotate(90deg);
}
.rotate-90 {
    transform: rotate(180deg);
}

.pointer{
    cursor: pointer;
}
.mb {
    margin-bottom: $basePx;
}

.mt {
    margin-top: $basePx;
}

.my {
    margin-top: $basePx;
    margin-bottom: $basePx;
}

.mx {
    margin-left: $basePx;
    margin-right: $basePx;
}

.stretch{
    flex: 1;
}

.fs-07 {
    font-size: 0.7rem;
}
.fs-08 {
    font-size: 0.8rem;
}

.fs-09 {
    font-size: 0.9rem;
}
.fs-1 {
    font-size: 1rem;
}

.fs-11 {
    font-size: 1.1rem;
}

.fs-12 {
    font-size: 1.2rem;
}

.w-none{
    width: unset;
}

.ltr{
    direction: ltr;
}