h1 {
    font-weight: bold;
    font-size: 30px;
    color: $primary;
}
h2 {
    font-weight: bold;
    font-size: 25px;
    color: $primary-secondary;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: $text-primary;
}

.label{
    font-size: 15px;
    font-weight: bold;
}
.field{
    font-size: 12px;
    font-weight: 100;
}