h1 {
	font-weight: bold;
	font-size: 30px;
	color: $primary;
}
h2 {
	font-weight: bold;
	font-size: 25px;
	color: $primary-secondary;
}

.fs-2 {
	font-size: 30px;
}
.fs-03 {
	font-size: 15px;
}

h3 {
	font-weight: bold;
	font-size: 20px;
	color: $text-primary;
}

.label {
	font-size: 15px;
	font-weight: bold;
	&--blue {
		@extend .label;
		color: $primary;
	}
}
.field {
	font-size: 12px;
	font-weight: 100;
}

.t-blue {
	color: $primary;
}
